@charset "utf-8";

/* 웹폰트 Segoe UI */
@font-face {
    font-family: "Segoe UI";
    src: url(../webfont/segoeui.eot) format('eot'),
         url(../webfont/segoeui.ttf) format('ttf'),
         url(../webfont/segoeui.woff) format(woff);
    font-style: normal;
    font-weight: normal;
}